node_modules

/.cache
/build
/.react-router
/.shopify/dev-bundle

.env
.env.*
!.env.example

prisma/*.sqlite
prisma/*.sqlite-journal

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
